<form [formGroup]="pessoaFisicaForm" (ngSubmit)="salvaFormulario()">
  <div class="formulario-cadastro">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Insira seu nome completo ..." formControlName="nome">
      <mat-hint>Nome Completo</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput placeholder="Insira seu CPF ..." formControlName="cpf">
      <mat-hint>Somente numeros</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Insira seu Email ..." formControlName="email">
      <mat-hint>email@dominio.com</mat-hint>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="data_nascimento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div> 
  <button mat-raised-button type="submit">Salvar</button>
</form>
