<form [formGroup]="telefoneForm" (ngSubmit)="salvaFormulario()">
    <div class="formulario-cadastro">
        <mat-form-field>
            <mat-label>Selecione a pessoa</mat-label>
            <mat-select formControlName="pessoa" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let pessoa of pessoasList" [value]="pessoa.id">
                {{pessoa.id}} - {{pessoa.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
                  
        <mat-form-field appearance="outline">
            <mat-label>Numero</mat-label>
            <input matInput formControlName="numero" required>
        </mat-form-field>
    </div>
    <button mat-raised-button type="submit">Salvar</button>
</form>    